<div class="hero">
  <%= image_tag("scsf_hero_1170x230.jpg") %>
</div>
<div class="row">
  <div class="span2 side-nav">
    <ul class="icons-ul">
      <li><i class="icon-angle-right"></i> <%= link_to "About", about_path %></li>
      <li><i class="icon-angle-right"></i> <%= link_to "Club Leadership", leadership_path %></li>
      <li><i class="icon-angle-right"></i> <%= link_to "Contact", about_path %></li>
    </ul>
  </div>
  <div class="span10">
    <h1>Leadership</h1>
    <div class="row leadership">
      <div class="span3">
        <h3>Committee Chairs</h3>
        <ul>
          <% @leadership_team["committees"].each do |committee, detail| %>
            <li>
              <div class="title"><%= detail["name"] %></div>
              <ul>
                <% detail["chairs"].each do |name| %>
                  <li>- <%= name %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>  
      <div class="span3">
        <h3>Directors</h3>
        <ul>
          <% @leadership_team["directors"].each do |committee, detail| %>
            <li>
              <div class="title"><%= detail["name"] %></div>
              <ul>
                <% detail["chairs"].each do |name| %>
                  <li>- <%= name %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="span3">
        <h3>Executive</h3>
        <ul>
          <% @leadership_team["executive"].each do |committee, detail| %>
            <li>
              <div class="title"><%= detail["name"] %></div>
              <ul>
                <% detail["chairs"].each do |name| %>
                  <li>- <%= name %></li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
