<div class="row">
  <div class="span6 offset3">
  <h2>Reset Password</h2>
    <%= simple_form_for @user, url: password_reset_path(params[:id]), html: { class: 'form-horizontal' } do |f| %>
      <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
      <%= f.error_notification %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <div class="form-actions">
        <%= f.submit "Update Password", :class => 'btn btn-primary' %>
      </div>
    <% end %>    
  </div>
</div>
