<% if signed_in? %>
<table class="admin-details">
	<tr>
		<th colspan="2" align="left">Admin Details</th>
	</tr>
	<tr>
		<td width="110">Event State:</td>
		<td><%= @event.event_state.name.to_s %></td>
	</tr>
	<tr>
		<td>Created:</td>
		<td><%= @event.created_at.strftime("%A, %B %d at %l:%M:%S %P") %> by <%= @event.created_by %> </td>
	</tr>
	<tr>
		<td>Last Updated:</td>
		<td><%= @event.updated_at.strftime("%A, %B %d at %l:%M:%S %P") %> by <%= @event.last_updated_by %></td>
	</tr>
</table>
<% end %>
