<h2><%= link_to event.name, event %></h2>
<div class="date-icon">
  <%= event.start_date.strftime("%b") unless event.start_date == nil %> <br />
  <%= event.start_date.strftime("%d") unless event.start_date == nil %>
</div>
<div class="details">
  <strong>
    <%= event.start_date.strftime("%A, %B %d") unless event.start_date == nil %>,
    <%= event.start_time.upcase %> 
    <% unless event.end_time.blank? %>  
      &ndash; <%= event.end_time %>  
    <% end %>
  </strong>
  <br>
  <strong>Hosting Committee:</strong> <%= event.committee.name %> <br>
</div>
<div class="description">
  <strong>Details:</strong> 
  <%= simple_format(truncate(event.description, length: 500, separator: '.', omission: '.')) %>
  <%= link_to "Learn more", event %>
</div>