<%= simple_form_for @event do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
		
	<%= f.input :name %>
	<%= f.input :start_date, :as => :datepicker %>
	<%= f.input :start_time %>
	<%= f.input :end_date,  :as => :datepicker %>
	<%= f.input :end_time %>
	<%= f.input :address %>
	<%= f.association :event_state %>
	<%= f.association :committee %>
	<%= f.input :registration_url %>
	<%= f.input :description %>
	<%= f.input :capacity %>
	<%= f.input :organizer %>
	<%= f.input :organizer_email %>
	<%= f.input :featured %>
	<%= f.input :sold_out %>
	<% if controller.action_name == 'new' %>
		<%= f.input :created_by, input_html: { value: "#{current_user.id}" } %>
	<% elsif controller.action_name == 'edit' && current_user.admin? %>
		<%= f.input :last_updated_by, input_html: { value: "#{current_user.id}" } %>
		<%= f.input :slug %>
	<% end %>
	
	<div class="actions"><%= f.submit %></div>
<% end %>