<% provide(:title, @event.name ) %>
<h1><%= @event.name %></h1>
<% if signed_in? %>
Admin Details
<p>
	Event State: <%= @event.event_state.name.to_s %> <br>
	Last Updated: <%= @event.updated_at %> by name <br>
	Created By: <%= @event.created_by %> 
</p>
<% end %>

<p>
	 <br>
	<%= @event.committee.name unless @event.committee_id == nil %>
</p>
<p>
	Description: <br>
	<%= @event.description %>
</p>

<h3>Location</h3>
<%= @event.address.to_s %> <br>
<% if @event.longitude.present? && @event.latitude.present?  %>
	<%= link_to image_tag("http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=13&markers=#{@event.latitude}%2C#{@event.longitude}"), "http://maps.google.com/maps?q=#{@event.latitude},#{@event.longitude}", :target => "blank" %>
<% end %>

<% if can? :update, @event %>
	<p><%= link_to "Edit Event", edit_event_path(@event) %></p>
<% end %>
