<% provide(:title, @event.name ) %>
<div class="hero">
  <%= image_tag("scsf_hero_1170x230.jpg") %>
</div>
<div class="row">
  <div class="span6">
    <h1>
      <% if @event.sold_out? %> 
        <%= @event.name.titleize %> &ndash; SOLD OUT
      <% else %>
        <%= @event.name.titleize %>
      <% end %>
    </h1>
    <%= render 'admin_details' %>
  </div>
</div>
<div class="row event-show-details">
  <div class="span7 bottom">
    <div class="event-body">
      <%= simple_format(@event.description) %>  
      <h3 class="event-header">Location</h3>
      <p>
        <%= @event.address.to_s %> &mdash; 
        <%= link_to "Get directions", "https://maps.google.com/maps?daddr=#{@event.address}", target: "_blank" %>
      </p>
      <% if @event.longitude.present? && @event.latitude.present?  %>
        <%= link_to image_tag("http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=13&markers=#{@event.latitude}%2C#{@event.longitude}"), "https://maps.google.com/maps?daddr=#{@event.address}", :target => "blank" %>
      <% end %>
    </div>
  </div>
  <div class="span4 offset1">
    <div class="widget">
      <div class="top-bar">
        <h4>Event Details</h4>
      </div>
      <div class="content">
        <table width="100%" cellpadding="5" cellspacing="0" border="0">
          <tbody>
            <tr>
              <td width="95" class="first-column">Date:</td>
              <td><%= @event.start_date.strftime("%A, %B %d, %Y") %></td>
            </tr>
            <tr>
              <td class="first-column">Time:</td>
              <td><%= @event.start_time.upcase %><%= " - #{@event.end_time.upcase}" unless @event.end_time == nil %></td>
            </tr>
            <tr>
              <td class="first-column">Committee:</td>
              <td><%= link_to @event.committee.name, committee_path(@event.committee) %></td>
            </tr>
            <% unless @event.capacity.nil? %>
            <tr>
              <td class="first-column">Capacity:</td>
              <td><%= pluralize(@event.capacity, "person", "people") %></td>
            </tr>
            <% end %>
            <tr>
              <td valign="top" class="first-column">Cost:</td>
              <td>
                <table width="100%" cellpadding="1" cellspacing="0" border="0">
                  <tbody>
                    <tr>
                      <td width="50%">Members</td>
                      <td width="50%">
                        <% if @event.cost_member.upcase == "FREE" %>
                          <%= @event.cost_member.titleize %>
                        <% else %>
                          <%= "$#{@event.cost_member}" %>
                        <% end %>
                      </td>
                    </tr>
                    <% unless @event.cost_young_alumn.empty? %>
                    <tr>
                      <td>Young Alumni</td>
                      <td>
                        <% if @event.cost_young_alumn.upcase == "FREE" %>
                          <%= @event.cost_young_alumn.titleize %>
                        <% else %>
                          <%= "$#{@event.cost_young_alumn}" %>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                    <% unless @event.cost_guest.empty? %>
                    <tr>
                      <td>Guests</td>
                      <td>
                        <% if @event.cost_guest.upcase == "FREE" %>
                          <%= @event.cost_guest.titleize %>
                        <% else %>
                          <%= "$#{@event.cost_guest}" %>
                        <% end %>
                      </td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="center-button">
        <% if @event.start_date >= Time.now.to_date %>
          <a href="<%= "#{@event.registration_url}" %>" class='btn btn-danger'><i class="icon-check-sign"></i> RSVP </a>
        <% else %>
          <span class='btn btn-inverse recent'><i class="icon-ban-circle"></i> Registration Closed </span>
        <% end %>
      </div>
    </div>
    <%= render 'shared/join_scsf' %>
  </div>
</div>
