<% provide(:title, @event.name ) %>
<div class="row">
  <div class="span8">
    <h2><%= @event.name.titleize %></h2>
    <br>
    <% if @event.committee_id != nil %>
      <strong>Hosting Committee:</strong> <%= link_to @event.committee.name, committee_path(@event.committee) %> 
    <% end %>    
    <br>
    <strong>Details:</strong> <%= simple_format(@event.description) %>
    <h3>Location</h3>
    <%= @event.address.to_s.titleize %> <br>
    <% if @event.longitude.present? && @event.latitude.present?  %>
      <%= link_to image_tag("http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=13&markers=#{@event.latitude}%2C#{@event.longitude}"), "http://maps.google.com/maps?q=#{@event.address}", :target => "blank" %>
    <% end %>
  </div>
  <div class="span4">
    <div class="well">
      <%= @event.start_date.strftime("%A, %B %d, %Y") %> <br />
      <%= @event.start_time.upcase %> <%= "- #{@event.end_time.upcase}" unless @event.end_time == nil %>
      <br>
      <table cellpadding="0" cellspacing="0" border="0" class="event-cost">
        <tr>
          <td class="label">Cost:</td>
          <td class="member-type">SCSF Member</td>
          <td class="cost">
            <% if @event.cost_member.upcase == "FREE" %>
              <%= @event.cost_member.titleize %>
            <% else %>
              <%= "$#{@event.cost_member}" %>
            <% end %>
          </td>
        </tr>
        <% unless @event.cost_young_alumn.empty? %>
          <tr>
            <td></td>
            <td class="member-type">Young Alumn</td>
            <td class="cost">
              <% if @event.cost_young_alumn.upcase == "FREE" %>
                <%= @event.cost_young_alumn.titleize %>
              <% else %>
                <%= "$#{@event.cost_young_alumn}" %>
              <% end %>
            </td>
          </tr>
        <% end %>
        <% unless @event.cost_guest.empty? %>
          <tr>
            <td></td>
            <td class="member-type">Guest</td>
            <td class="cost">
              <% if @event.cost_guest.upcase == "FREE" %>
                <%= @event.cost_guest.titleize %>
              <% else %>
                <%= "$#{@event.cost_guest}" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
      <div class="centering">
        <%= link_to "RSVP", @event.registration_url, class: 'btn' %>
      </div>
    </div>
    <div class="well">
      <%= render 'shared/join_scsf' %>
    </div>
    <%= render 'admin_details' %>
  </div>
</div>