<% provide(:title, @event.name ) %>
<h1><%= @event.name %></h1>

<%= render 'admin_details' %>

<p>
  <%= link_to @event.committee.name, committee_path(@event.committee) unless @event.committee_id == nil %>
</p>
<p>
  Description: <br>
  <%= @event.description %>
</p>

<h3>Location</h3>
<%= @event.address.to_s %> <br>
<% if @event.longitude.present? && @event.latitude.present?  %>
  <%= link_to image_tag("http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=13&markers=#{@event.latitude}%2C#{@event.longitude}"), "http://maps.google.com/maps?q=#{@event.address}", :target => "blank" %>
<% end %>