<% provide(:title, @committee.name ) %>
<div class="hero">
  <%= image_tag("scsf_hero_1170x230.jpg") %>
</div>
<div class="row">
  <div class="span6">
    <h1><%= @committee.name %></h1>
    <p><%= @committee.description %></p>
    <% if can? :update, @committee %>
      <p><%= link_to "Edit Committee", edit_committee_path(@committee) %></p>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span7">
    <%= render 'events/events_feed' %>
  </div>
  <div class="span4 offset1 sidebar">
    <%= render 'shared/committees_list' %>
    <%= render 'shared/join_scsf' %>
  </div>
</div>