<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/admin_alert' %>

<header>
	<%= link_to(image_tag("", :alt => "SCSF Home", :width => 100, :height => 60, :title => "Click here to return to Home") ,root_path) %>	
</header>

<div>
	<%= render 'layouts/flash_messages' %>
	<%= yield %>
</div>

<footer>
	<%= render 'layouts/footer' %>
</footer>

</body>
</html>
