<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Crimson+Text:400,600,700' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/admin_alert' %>

<div class="body-container">
  <header>
    <h1>Stanford Club of San Francisco</h1>
    <div class="top-nav">
      <ul>
        <li><%= link_to "Upcoming Events", root_path %> |</li>
        <li><%= link_to "What We Do", "#" %> |</li>
        <li><%= link_to "Leadership", "#" %> |</li>
        <li><%= link_to "Join the Club", "#" %></li>
      </ul>
    </div>
  </header>
  <div class="content">
    <%= render 'layouts/flash_messages' %>
    <%= yield %>
  </div>
</div>

<footer>
  <%= render 'layouts/footer' %>
</footer>

</body>
</html>
